<div>
    <h4>Уважаемый(-ая) {{ name }},</h4><br/>
    <div>
        Спасибо за создание резюме на cvhunter.ru. Ваше вновь созданное резюме готово к загрузке.
        Была создана учетная запись, которая позволит Вам редактировать Ваши резюме в любое время и в любом месте, а также использовать все прочие премиум-функции.
    </div><br/>
    <div>
        <p>Используйте следующие учетные данные:</p><br/>
        <p>Учетные данные</p>
        <p>Нажмите здесь, чтобы войти на cvhunter.ru</p>
        <p>Email: {{ email }}</p>
        <p>Пароль: <strong>{{ password }}</strong></p>
    </div><br/>
    <div>
        В Вашей учетной записи Вы найдете все созданные Вами резюме, мотивационные письма, почтовый инструмент для подачи заявок, подходящие вакансии, а также опцию изменения данных Вашей учетной записи. Ваша учетная запись будет автоматически обновляться ежемесячно (1 299₽/мес).
        Если у Вас есть какие-либо вопросы, пожалуйста, обратитесь к разделу Часто задаваемые вопросы или свяжитесь с нами.
    </div><br/>
    <div>
        Удачи!
    </div><br/>
    <div>
        <p>
            С уважением,
        </p>
        <p>
            cvhunter.ru
        </p>
    </div><br/>
    <p>
        Спасибо, что выбрали cvhunter. Теперь Вы можете использовать все премиум-функции, находящиеся на панели управления. Вы заплатили специальную цену в размере 199₽ за первые семь дней полного премиум-доступа. После завершения пробного периода Ваша учетная запись будет автоматически обновляться ежемесячно, и Вы сможете продолжать использовать все функции. Стоимость подписки будет составлять 1 299₽/мес. Ваше первое автоматическое продление произойдет 31-01-2022, но Вы можете закрыть свою учетную запись в любое время. После оплаты мы предоставили Вам возможность скачать Ваше готовое персональное резюме, и Вы автоматически отказались от права на возврат средств, как указано в условиях.
    </p>
</div>